body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.w150 {
  width: 150px;
}

.w600 {
  width: 600px;
}
input {
  padding: 0 5px;
  border-radius: 2px;
  outline: none;
}
textarea {
  min-height: 100px;
}
input,
select,
textarea {
  margin: 10px 0;
  height: 40px;
  width: 600px;
  font-size: 14px;
}
button {
  width: 100px;
  background: #f8492d;
  height: 40px;
  margin: 10px;
  font-size: 16px;
  color: white;
  border: 0px;
}
button:disabled {
  background-color: #d7d7d7;
  color: black;
}
textarea {
  resize: vertical;
}
.btn {
  width: 120px;
}

.tc-white {
  color: #fff;
}

.center {
  text-align: center;
}
