body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-white {
  background: white;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  min-width: 200px;
  border-radius: 10px;
}

.bgTheme {
  background-color: #282c34;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.f24 {
  font-size: 24px;
}

.row {
  flex-direction: row;
}

.w250 {
  width: 250px;
}

.btn {
  width: 120px;
}

.tc-white {
  color: #fff;
}

.m10 {
  margin: 10px;
}

.mt20 {
  margin-top: 20px;
}

.p10 {
  padding: 10px;
}

.center {
  text-align: center;
}

.errorMsg {
  font-size: 12px;
  color: red;
}

.Input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  border: none;
}

.searchButton {
  width: 120px;
  border-radius: 5px;
  outline: none;
}

.searchContainer {
  margin: 0 auto;
  max-width: 600px;
}

.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 10px auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.offerButton {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 20px 0px;
  text-transform: uppercase;
  font-size: 24px;
  background: orange;
}
